@charset "UTF-8";
/* ----------------aclaraciones css---------- */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

.li {
  list-style-type: none; /* Elimina las viñetas de la lista no ordenada */
  padding-left: 0; /* Elimina la sangría predeterminada que el navegador aplica a las listas */
  margin: 0; /* Elimina el margen externo para evitar espacios indeseados */
}

a {
  text-decoration: none;
}

/* ----------------PANTALLA MOVIL 400px---------- */
@media (min-width: 400px) {
  .carousel-dark .carousel-caption {
    background-color: rgba(97, 97, 97, 0.1921568627);
    color: azure;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .main__barra-lateral {
    display: none;
  }
  .titulo__main {
    display: flex;
    justify-content: center;
    padding-top: 0.5em;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 600; /* O usa 400 para un estilo más ligero */
    color: #616161;
  }
  .card__productos-inicio {
    display: block;
    position: relative;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 7px;
    width: 100%;
    padding: 0.2381em;
  }
  .producto-1:hover {
    background-image: url(..//..//img/img__index/img__productos-inicio/bañera_mascota-hover.jpg);
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  }
  .producto-1:hover .bañera-mascota {
    opacity: 0;
  }
  .producto-2:hover {
    background-image: url(..//..//img/img__index/img__productos-inicio/horno_leña-prod2.png);
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  }
  .producto-2:hover .horno-prod2 {
    opacity: 0;
  }
  .producto-3:hover {
    background-image: url(..//..//img/img__index/img__productos-inicio/prod-3-hover.jpg);
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  }
  .producto-3:hover .barra-prod3 {
    opacity: 0;
  }
  .producto-4:hover {
    background-image: url(..//..//img/img__index/img__productos-inicio/prod4-hover.jpeg);
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  }
  .producto-4:hover .home_prod4 {
    opacity: 0;
  }
  .producto-5:hover {
    background-image: url(..//..//img/img__index/img__productos-inicio/prod-5-hover.png);
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  }
  .producto-5:hover .asador_prod5 {
    opacity: 0;
  }
  .producto-6:hover {
    background-image: url(..//..//img/img__index/img__productos-inicio/bandejas-prod6.jpeg);
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  }
  .producto-6:hover .bandejas-prod6 {
    opacity: 0;
  }
  .img__productos-inicio {
    width: 100%;
    position: relative;
  }
  .img__productos-inicio img {
    width: 100%;
  }
  .description__producto-inicio {
    display: flex;
    justify-content: center;
    font-size: 0.7rem;
    font-family: "Montserrat", sans-serif;
    margin-top: 0.5em;
  }
  .description__producto-inicio p {
    color: rgb(99, 98, 98);
    margin-bottom: 0rem;
  }
  .description__producto-inicio p:hover {
    color: rgb(18, 18, 228);
  }
  .img__estrellas {
    width: 100%;
  }
  .img__estrellas img {
    width: 100%;
  }
  .precio__card-inicio {
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem; /* Ajusta según sea necesario */
    font-weight: bold; /* Resalta el precio */
  }
  .precio__card-inicio p {
    margin-bottom: 0.4rem;
  }
  .btn__carrito {
    justify-content: center;
    display: inline-flex; /* Alinea el ícono y el texto en la misma fila */
    align-items: center; /* Alinea verticalmente los elementos */
    padding: 0.3em 1em;
    color: black;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 7px;
    transition: background-color 0.3s ease; /* Transición suave para el fondo */
    cursor: pointer;
  }
  .btn__carrito i {
    margin-right: 10px; /* Espacio entre el ícono y el texto */
    transition: color 0.3s ease; /* Transición suave para el color del ícono */
  }
  .btn__carrito span {
    font-size: 0.8rem;
    transition: color 0.3s ease; /* Transición suave para el color del texto */
  }
  .container__carrito:hover .btn__carrito {
    background-color: #3498db;
  }
  .container__carrito:hover .icono__carrito,
  .container__carrito:hover span {
    color: white; /* Cambia el color del ícono y del texto al hacer hover */
  }
  .producto__inicio {
    padding-top: 0.5em;
    padding-bottom: 0.7em;
  }
}
/* ----------------FIN  PANTALLA MOVIL 400px---------- */
/* ----------------PANTALLA MOVIL 600px---------- */
/* ----------------FIN PANTALLA MOVIL 600px---------- */
/* ----------------PANTALLA MOVIL 1200px---------- */
@media (min-width: 1200px) {
  .carousel-inner {
    height: 33.5em;
  }
  .carousel-dark .carousel-caption {
    padding: 0% 0% 9em 0em;
  }
  .main__barra-lateral {
    display: block;
    padding-top: 1.5em;
  }
  .card__productos-inicio {
    display: block;
    position: relative;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 7px;
    width: 100%;
    padding: 0.2381em;
    margin-bottom: 1em;
  }
  .card__productos-inicio .titulo__barra-lateral {
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: rgba(226, 222, 222, 0.4862745098);
    border: 3px solid #ddd;
    border-radius: 7px;
    padding: 0.2em;
  }
  .card__productos-inicio .img__productos-inicio {
    width: 300;
    height: 300;
    position: relative;
  }
  .main__texto-barra {
    background-color: rgba(235, 231, 231, 0.253);
  }
  .texto__barra-lateral {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
  }
  .texto__barra-lateral a {
    margin: 0.5em;
    color: rgb(99, 98, 98);
  }
  .texto__barra-lateral a:hover {
    color: rgb(18, 18, 228);
  }
  .producto__inicio {
    padding-top: 0.5em;
    padding-bottom: 1em;
  }
  .description__producto-inicio {
    font-size: 1rem;
  }
  .btn__carrito {
    width: 11.3em;
    display: flex;
  }
  .container__carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .btn__carrito span {
    font-size: 1rem;
  }
}
/* ----------------FIN PANTALLA MOVIL 1200px---------- */
/* ----------------------section nosotros pantalla 350px----------- */
/* --------------img y titulo----------- */
@media (min-width: 400px) {
  .container__nosotros {
    background-image: url(..//..//img/img_servicios/bandera-arg.jfif);
    background-size: cover; /* Hace que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .titulo__nosotros {
    padding: 0.55em;
    margin: 0em 0em 0.5em 0em;
    background-color: brown;
    font-size: 1.5em;
    color: rgb(239, 216, 216);
  }
  .img-principal__nosotros {
    height: 220px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2.5em;
    padding: 1em;
  }
  /* --------------fin img y titulo----------- */
  /* --------------quienes somos----------- */
  .quienes-somos {
    padding: 0.5em;
    background-color: rgba(245, 245, 220, 0.582);
  }
  /* --------------fin quienes somos----------- */
  /* --------------niños----------- */
  .contenedor__img-niños {
    display: flex;
    flex-direction: column;
  }
  .img-niños {
    background-image: url(..//../img/img_nosotros/ninos_comedor.txt);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 17em;
    display: flex;
    justify-content: center;
    align-items: end;
  }
  .texto__niños {
    background-color: rgba(137, 43, 226, 0.669);
    width: 16em;
    text-align: center;
    height: 3.5em;
    color: rgb(189, 189, 189);
    border-radius: 0.6em;
  }
  .img-niño-albañil {
    background-image: url(..//../img/img_nosotros/ninos_unisef.txt);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 17em;
    display: flex;
    justify-content: center;
    align-items: end;
  }
  /* -------------- fin niños----------- */
  /* --------------------nuestra empresa------------------ */
  .nuestra-empresa {
    background-color: rgba(245, 245, 220, 0.582);
    padding: 1em;
  }
}
/* --------------------fin nuestra empresa------------------ */
/* ----------------------fin section nosotros pantalla 350px----------- */
/* ----------------------section nosotros pantalla 600px----------- */
@media (min-width: 600px) {
  .img-principal__nosotros {
    background-size: contain;
    background-repeat: no-repeat;
    height: 8em;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2.5em;
    padding: 1em;
  }
  .img-niños {
    width: 100%;
    height: 20em;
    display: flex;
    justify-content: center;
    align-items: end;
  }
  .img-niño-albañil {
    width: 100%;
    height: 20em;
  }
  .texto__niños {
    background-color: rgba(137, 43, 226, 0.669);
    width: 13em;
    text-align: center;
    height: 4.5em;
    border-radius: 0.6em;
  }
}
/* ----------------------fin section nosotros pantalla 600px----------- */
/* ----------------------fin section nosotros pantalla 1200px----------- */
@media (min-width: 1200px) {
  .breadcrumb {
    background-color: #f8f9fa;
    border-radius: 0.375rem;
    padding: 0.75rem 1rem;
  }
  .breadcrumb-item a {
    color: #007bff;
    text-decoration: none;
  }
  .breadcrumb-item a:hover {
    text-decoration: underline;
  }
  .breadcrumb-item.active {
    color: #6c757d;
  }
  .img-principal__nosotros {
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    height: 11em;
    border: solid 0px;
    font-size: 1.6em;
    padding: 0%;
  }
  .img-niños {
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 30em;
  }
  .texto__niños {
    background-color: rgba(137, 43, 226, 0.669);
    width: 16em;
    text-align: center;
    height: 3.5em;
    color: rgb(189, 189, 189);
    border-radius: 0.6em;
  }
  .img-niño-albañil {
    width: 50%;
    height: 30em;
  }
  .contenedor__img-niños {
    display: flex;
    flex-direction: row;
  }
  .bandera-arg {
    background-color: rgb(60, 143, 198);
    width: 100%;
    height: 2em;
  }
}
/* ----------------------fin section nosotros pantalla 1200px----------- */
/* -----------------------section productos pantalla 350px----------- */
.contendor__portada-principal {
  padding: 0em 0em 1em 2em;
}

.titulo__productos {
  background-image: url(..//../img/img_galeria-productos/portada__productos.jpg);
  background-position: center;
  background-size: cover;
  height: 280px;
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
  font-size: 2.5em;
  align-items: center;
}

/* -----------------------fin section productos pantalla 350px----------- */
/* ----------------------- section productos pantalla 1200px----------- */
@media (min-width: 1200px) {
  .contendor__portada-principal {
    width: 960px;
  }
}
/* -----------------------fin section productos pantalla 1200px----------- */
/* ----------------PANTALLA MOVIL 600px---------- */
@media (min-width: 400px) {
  .titulo__servicios {
    background-image: url(..//..//img/img_servicios/presentacion-02.jpg);
    background-position: center;
    background-size: cover;
    height: 250px;
    color: white;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0%;
  }
  .row {
    overflow: hidden;
    border-radius: 9px;
    margin-left: 0;
    margin-right: 0; /* Elimina los márgenes negativos */
  }
  .tarjeta-servicios {
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.6);
  }
  .card__servicios {
    height: 15em;
    padding: 0%;
  }
  .texto__card-servicios {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.9rem;
    background-color: rgba(219, 207, 217, 0.527);
    width: 100%;
    height: 100%;
    margin: 0%;
  }
  .texto__card-servicios:hover {
    background-image: url();
  }
  .img__card-servicios {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para que cubra todo el contenedor sin deformarse */
  }
  .img__card-servicios:hover {
    transform: scale(1.1); /* Aumenta el tamaño de la imagen un 20% */
  }
  .title-h2__servicios {
    background-color: rgb(171, 175, 214);
    padding: 0.03em;
    display: flex;
    justify-content: center;
  }
  .img__techo-servicios {
    width: 100%;
    padding: 1em;
  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -0.5em;
    margin: 0.3em 0em 0em 2em;
    width: 3em;
    height: 3em;
  }
  .icon .icon-tilde {
    width: 100%;
    height: 100%;
  }
  .texto__li-servicios {
    padding: 0.7em;
  }
}
/* ----------------FIN PANTALLA MOVIL 600px---------- */
/* ----------------PANTALLA MOVIL 1200px---------- */
@media (min-width: 1200px) {
  .icon {
    left: 50%;
    margin: 0%;
  }
  .container__ul-servicios {
    padding-top: 1em;
  }
  .texto__li-servicios {
    padding: 0.3em;
  }
}
/* ----------------FIN PANTALLA MOVIL 1200px---------- */
/* ----------------section contacto PANTALLA 400PX -------------- */
/* ------------------consultas-------------- */
@media (min-width: 400px) {
  .portada__principal-contenedor {
    background-color: rgba(173, 188, 188, 0.295);
  }
  .texto__contacto {
    padding: 0% 1em 1em 1em;
  }
  .titulo__contacto {
    background-image: url(..//../img/professional-industrial-welder-welding-metal-parts-metalworking-factory.jpg);
    background-position: center;
    background-size: cover;
    height: 280px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2.5em;
    align-items: center;
  }
  /* --------------------texto consulta------------------- */
  .consultas {
    color: red;
  }
  .contenido__consultas {
    font-size: 0.9em;
  }
  .spam__consultas {
    font-size: 0.9em;
  }
  /* ------------------fin consultas-------------- */
}
/* ----------------PANTALLA MOVIL 600px---------- */
/* ----------------FIN PANTALLA MOVIL 600px---------- */
/* ----------------PANTALLA MOVIL 1200px---------- */
@media (min-width: 1200px) {
  .titulo__contacto {
    font-size: 4rem;
  }
  .formulario_consultas {
    display: flex;
    flex-direction: row;
    gap: 4em;
    margin-block-end: 4.3em;
    padding-top: 1em;
  }
  .sub-titulo__consultas {
    color: red;
  }
  .texto-video {
    width: 14em;
    height: 12em;
  }
  .contenedor__video-consultas {
    width: 40%;
  }
}
/* ----------------FIN PANTALLA MOVIL 1200px---------- */
/* ----------------PANTALLA MOVIL 400px---------- */
@media (min-width: 400px) {
  /* ---------LOGO DE LA EMPRES__Y BUSCADOR------------- */
  .encabezado {
    font-size: 1em;
    background-color: rgb(231, 223, 228);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0.6em;
  }
  .encabezado_logo-empresa {
    width: 12em;
    height: 6em;
    margin: auto;
    padding: 0%;
  }
  .buscador {
    display: none;
  }
  .numero_telefono {
    display: none;
  }
  .logo_telefono {
    display: none;
  }
  /* ---------FIN LOGO DE LA EMPRES__Y BUSCADOR------------- */
  /* menu hamburguesa */
  .navbar {
    padding: 0%;
    background-color: rgb(231, 223, 228);
  }
  .navbar .container-fluid {
    display: flex;
    justify-content: center;
    background-color: rgb(231, 223, 228);
  }
  .navbar-toggler {
    background-color: rgb(161, 159, 156);
  }
  .navbar-light .navbar-nav .nav-link {
    color: black;
  }
  .logo_carrito {
    display: none;
  }
  .navbar-expand-lg .navbar-nav {
    gap: 1em;
  }
  .navbar-expand-lg .navbar-nav :hover {
    background-color: rgb(179, 72, 72);
    text-decoration: none;
    transition: background-color 1s ease, color 1s ease;
    border-radius: 6px;
  }
  /* fin menu hamburguesa */
}
/* ----------------FIN  PANTALLA MOVIL 400px --------- */
/* ----------------PANTALLA  600px---------- */
/* ----------------FIN  PANTALLA  600px---------- */
/* ----------------PANTALLA  1200px---------- */
@media (min-width: 1200px) {
  /* ---------LOGO DE LA EMPRES__Y BUSCADOR------------- */
  .encabezado {
    flex-direction: row;
    gap: 11em;
    background-color: rgb(231, 223, 228);
    height: 6.6em;
  }
  .encabezado_logo-empresa {
    margin: 0em 4em 0em 0em;
    width: 16em;
    height: 6.5em;
  }
  .buscador {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 1em;
    justify-content: end;
    gap: 2em;
    align-items: center;
    color: rgb(92, 89, 89);
    margin: 0.3em 6em 0em 0em;
  }
  .buscador .numero_telefono {
    display: flex;
    align-items: center;
  }
  .buscador .logo_telefono {
    display: flex;
    width: 1em;
    height: 1em;
  }
  /* ---------fin  LOGO DE LA EMPRES__Y BUSCADOR------------- */
  .logo_carrito {
    display: flex;
    width: 2em;
    height: 2em;
  }
  .navbar .container-fluid {
    margin: 0em 0em 0em 4em;
  }
  /* ---------barra de navegacion------------- */
  .container-fluid {
    height: 3.6em;
  }
  .navbar-collapse {
    flex-grow: 0;
    font-size: 1.05em;
    background-color: rgb(231, 223, 228);
    margin: 0.5em;
    font-family: "Poppins", sans-serif;
    font-weight: 545; /* Semi-negrita o más gruesa */
  }
  .navbar-expand-lg .navbar-nav {
    gap: 1.6em;
  }
  .navbar-expand-lg .navbar-nav :hover {
    background-color: rgb(179, 72, 72);
    text-decoration: none;
    transition: background-color 1s ease, color 1s ease;
    border-radius: 6px;
  }
  .navbar-light .navbar-nav .nav-link.active {
    text-decoration: none;
    transition: background-color 1s ease, color 1s ease;
    border-radius: 6px;
    background-color: rgb(179, 72, 72);
    font-size: 1.2em;
  }
  /* ---------FIN  barra de navegacion------------- */
}
/* ----------------fin PANTALLA  1200px---------- */
/* ----------------PANTALLA MOVIL 400px---------- */
@media (min-width: 400px) {
  /* .inicio footer */
  .encabezado_footer {
    background-color: rgb(189, 180, 180);
    padding-top: 4em;
    padding: 1em 0% 1em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    font-size: 0.8em;
    height: 8em;
  }
  .logo_redes {
    width: 2em;
    height: 2em;
    margin-right: 0.7em;
  }
  .logo_redes_conteiner {
    display: flex;
  }
  .titulo_footer {
    font-size: 1.3em;
  }
  .titulo_footer p {
    margin: 0%;
  }
  .conteiner_datos-contacto {
    background-color: rgb(0, 0, 0);
    display: block;
    height: 23em;
  }
  .datos_contacto {
    display: flex;
    align-items: center;
    padding: 1rem;
    color: white;
    gap: 2em;
  }
  .mapa {
    width: 145px;
    height: 130px;
  }
  .tamaño_mapa {
    width: 100%;
    height: 100%;
  }
}
/* ----------------PANTALLA MOVIL 600px---------- */
/* ----------------FIN PANTALLA MOVIL 600px---------- */
/* ----------------PANTALLA MOVIL 1200px---------- */
@media (min-width: 1200px) {
  .encabezado_footer {
    gap: 5em;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 3em;
  }
  .logo_redes_conteiner {
    flex-direction: row;
    justify-content: center;
    width: 8em;
  }
  .titulo_footer {
    font-size: 1.5rem;
  }
  .conteiner_datos-contacto {
    width: 100%;
    height: 10em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .datos_contacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: white;
    gap: 3em;
  }
}
/* ----------------FIN PANTALLA MOVIL 1200px---------- */
/* -----------------------section productos pantalla 350px----------- */
@media (min-width: 400px) {
  .btn {
    font-size: 0.5em;
    display: flex;
    justify-content: center;
    margin: 1em;
    padding: 0.3em;
    font-size: 0.6em;
  }
  .btn:hover {
    background-color: brown;
  }
  /* -----------------------fin section productos pantalla 350px----------- */
  .btn__formulario {
    background-color: rgba(243, 10, 10, 0.747);
    color: white;
    width: 15em;
  }
  .icono-hover {
    display: none;
  }
}
@media (min-width: 600px) {
  .btn {
    font-size: 0.65em;
    margin: 0.3em 0em 1em 0em;
  }
  .btn__formulario {
    font-size: 0.8em;
  }
}
/* ----------------section contacto PANTALLA 1200PX -------------- */
@media (min-width: 1200px) {
  .btn__formulario {
    background-color: rgba(243, 10, 10, 0.747);
    color: white;
    width: 23.7em;
    text-align: center;
    margin: 0.4em 0em 0em 0em;
  }
  /* ----------------fin section contacto 
  PANTALLA 1200PX -------------- */
  /* Iconos de corazón */
  .container__carrito .icono-hover {
    font-size: 18px;
    color: rgb(216, 63, 63);
    opacity: 0;
    position: absolute;
    transition: opacity 0.5s ease, transform 0.5s ease;
    cursor: pointer;
  }
  .container__carrito .icono-hover:hover {
    color: white;
  }
  /* Icono izquierdo (inicia en el centro y se desplaza hacia la izquierda) */
  .container__carrito .icono-hover:first-child {
    transform: translateX(0);
    left: calc(50% - 1em - 15px); /* Se coloca inicialmente en el centro */
  }
  /* Icono derecho (inicia en el centro y se desplaza hacia la derecha) */
  .container__carrito .icono-hover:last-child {
    transform: translateX(0);
    right: calc(50% - 1em - 15px); /* Se coloca inicialmente en el centro */
  }
  /* Efecto hover en el contenedor para mostrar y desplazar los iconos */
  .container__carrito:hover .icono-hover {
    opacity: 1;
  }
  /* Hover para desplazar los corazones a los extremos */
  .container__carrito:hover .icono-hover:first-child {
    transform: translateX(calc(-100% - 3.6em)); /* Hacia la izquierda */
  }
  .container__carrito:hover .icono-hover:last-child {
    transform: translateX(calc(100% + 3.6em)); /* Hacia la derecha */
  }
  .icono-hover {
    display: block;
    padding: 0.35em;
    border: 1px solid rgb(216, 63, 63);
    border-radius: 7px;
  }
  .icono-hover:hover {
    background-color: rgb(216, 63, 63);
  }
}
/* ----------------PANTALLA MOVIL 350px---------- */
/* <!-- --------------tarjeta de  wsp------- --> */
@media (min-width: 400px) {
  .contenedor__wsp {
    display: flex;
    justify-content: end;
    width: 100%;
    height: 30px;
    font-size: 1em;
    margin-bottom: 0rem;
    padding: 0em 1.5em 0em 0em;
  }
  .tarjeta-wsp:hover {
    font-size: 0.75em;
  }
  .tarjeta-wsp {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 15em;
    height: 23px;
    font-size: 0.7em;
    text-align: center;
    background-color: rgb(61, 213, 31);
    gap: 0.2em;
    border-radius: 12px;
    color: white;
  }
  .img-wsp {
    background-image: url(..//../img/logos-iconos/img-wsp.png);
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
  }
  /* <!-- --------------fin tarjeta de  wsp------- --> */
  /* -------------tarjetas__ img- productos---------- */
  .tarjeta {
    width: 8em;
    height: 6em;
    background-color: white;
  }
  .tarjeta:hover {
    background-color: rgba(129, 146, 146, 0.142);
  }
  .tarjeta_img {
    width: 100%;
    height: 100%;
    padding: 1rem;
  }
}
/* -------------fin tarjetas__ img- productos---------- */
/* ----------------fin PANTALLA MOVIL 350px---------- */
/* ----------------PANTALLA INICIO 1200px---------- */
@media (min-width: 1200px) {
  /* -------------tarjetas__ img- productos---------- */
  .tarjeta {
    width: 16em;
    height: 16em;
    background-color: white;
  }
  .tarjeta_img {
    width: 100%;
    height: 100%;
    padding: 1em;
  }
  /* -------------tarjetas__ img- productos---------- */
  /* ----------------PANTALLA INICIO 1200px---------- */
}
/* -----------------------section productos pantalla 350px----------- */
.card-body {
  flex: none;
  flex-direction: column;
  padding: 0.4em;
  width: 8em;
  height: 8.4em;
}

.card-title {
  padding: 0.2em;
}

.card-img-top {
  width: 100%;
  height: 100%;
}

.row {
  margin: 0%;
}

.contenedor__img {
  display: flex;
  width: 6.8em;
  height: 5em;
}

.img_producto {
  width: 100%;
  height: 100%;
}

.tarjeta__producto {
  padding: 0%;
  margin: 0%;
  width: 15;
}

.card {
  display: flex;
  width: 9.5rem;
  height: 15rem;
  padding: 0.7em;
  margin: 0%;
  margin-top: 0.7em;
}

.card:hover {
  background-color: rgba(129, 146, 146, 0.142);
}

.card-text {
  color: rgb(115, 203, 27);
  font-size: 0.8em;
  margin: 0%;
}

/* -----------------------fin section productos pantalla 350px----------- */
/* ----------------------section productos pantalla 1200px----------- */
/* ----------------------section productos pantalla 1200px----------- */
@media (min-width: 400px) {
  .contenedor__animacion-nosotros {
    width: 100%;
    height: 10wh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
  }
  .contenedor__animacion-nosotros figure {
    position: relative;
    height: 200px;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  .contenedor__animacion-nosotros figure img {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
  }
  .capa2 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(117, 132, 136, 0.6);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    color: white;
  }
  .contenedor__animacion-nosotros figure:hover > .capa2 {
    opacity: 1;
    visibility: visible;
  }
  .contenedor__animacion-nosotros figure:hover > .capa2 h3 {
    margin-top: 70px;
    margin-bottom: 15px;
  }
  .contenedor__animacion-nosotros figure:hover > img {
    transform: scale(1.3);
  }
  .contenedor__animacion-padre {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1200px) {
  .contenedor__animacion-padre {
    flex-direction: row;
  }
}

/*# sourceMappingURL=styles.css.map */
