/* ----------------aclaraciones css---------- */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}
.li{ list-style-type: none; /* Elimina las viñetas de la lista no ordenada */
    padding-left: 0; /* Elimina la sangría predeterminada que el navegador aplica a las listas */
    margin: 0; /* Elimina el margen externo para evitar espacios indeseados */}


a {
    text-decoration:none ;
}



// variables
//encabezado
$color-encabezado:rgb(231, 223, 228);

$color-galeria-productos:white;


//barra de nav
$color__nav: rgb(231, 223, 228);


//footer
$color-footer:chocolate;

$color__border-solid: chocolate;

// variables

// mixin
@mixin btn_nav-encabezado{ 
    text-decoration: none;
    transition: background-color 1s ease, color 1s ease;
    border-radius: 6px;
}
@mixin centrar_elementos_flex{
    display: flex;
    justify-content: center;
    align-items: center;
}