/* ----------------aclaraciones css---------- */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}
.li{ list-style-type: none; /* Elimina las viñetas de la lista no ordenada */
    padding-left: 0; /* Elimina la sangría predeterminada que el navegador aplica a las listas */
    margin: 0; /* Elimina el margen externo para evitar espacios indeseados */}


a {
    text-decoration:none ;
}



           // variables
//color de encabezado
$color-encabezado:rgb(231, 223, 228);

//color del main 
$color-galeria-productos:white;


//color de barra de nav
$color__nav: rgb(231, 223, 228);

//color de btn migas de pan y hover
$color__Breadcrumb-nav: rgb(179, 72, 72);

//color de boton de corazon en carrito de compras
$color__btn-hover-corazon: rgb(216, 63, 63);



//footer
$color-footer:chocolate;

$color__border-solid: chocolate;

// variables

// mixin
//tarjetas productos en inicio
@mixin card__productos-inicio{ 
    background-position: center;  /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: cover;       /* Asegura que la imagen cubra todo el contenedor */

}

@mixin btn_nav-encabezado{ 
    text-decoration: none;
    transition: background-color 1s ease, color 1s ease;
    border-radius: 6px;
}
@mixin centrar_elementos_flex{
    display: flex;
    justify-content: center;
    align-items: center;
}