
/* -----------------------section productos pantalla 350px----------- */

.contendor__portada-principal {
    padding: 0em 0em 1em 2em;
}
.titulo__productos{
    background-image: url(..//../img/img_galeria-productos/portada__productos.jpg);
    background-position: center;
    background-size: cover;
    height: 280px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 2.5em;
    align-items: center;
}
/* -----------------------fin section productos pantalla 350px----------- */

/* ----------------------- section productos pantalla 1200px----------- */
@media (min-width: 1200px) {
    .contendor__portada-principal {
        width: 960px;
    }
  
}
/* -----------------------fin section productos pantalla 1200px----------- */